@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Comme, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Source Code Pro, ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Source Serif 4, ui-serif, serif;
  --radius: 0.8rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.8rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2686 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2686 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2686 0 0);
  --primary: oklch(0.7504 0.1392 67.1652);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.4974 0.0242 248.3138);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.6167 0.0178 253.9670);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.4947 0.1317 41.4465);
  --destructive: oklch(0.7038 0.1396 15.7815);
  --border: oklch(1.0000 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7504 0.1392 67.1652);
  --chart-1: oklch(0.7504 0.1392 67.1652);
  --chart-2: oklch(0.6826 0.1663 52.5046);
  --chart-3: oklch(0.5758 0.1539 44.4942);
  --chart-4: oklch(0.4947 0.1317 41.4465);
  --chart-5: oklch(0.4326 0.1105 40.6294);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2686 0 0);
  --sidebar-primary: oklch(0.7504 0.1392 67.1652);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.4947 0.1317 41.4465);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.7504 0.1392 67.1652);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Comme, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Serif 4, ui-serif, serif;
  --font-mono: Source Code Pro, ui-monospace, monospace;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.3;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.15);
  --shadow-xs: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.15);
  --shadow-sm: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 1px 2px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 1px 2px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-md: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 2px 4px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-lg: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 4px 6px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-xl: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 8px 10px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-2xl: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.75);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.7504 0.1392 67.1652);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.4947 0.1317 41.4465);
  --accent-foreground: oklch(0.9451 0.0493 89.2937);
  --destructive: oklch(0.7038 0.1396 15.7815);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.7504 0.1392 67.1652);
  --chart-1: oklch(0.8169 0.1273 79.1974);
  --chart-2: oklch(0.6826 0.1663 52.5046);
  --chart-3: oklch(0.4947 0.1317 41.4465);
  --chart-4: oklch(0.5758 0.1539 44.4942);
  --chart-5: oklch(0.4947 0.1317 41.4465);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.7504 0.1392 67.1652);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4947 0.1317 41.4465);
  --sidebar-accent-foreground: oklch(0.9451 0.0493 89.2937);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.7504 0.1392 67.1652);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.8rem;
  --font-sans: Comme, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Serif 4, ui-serif, serif;
  --font-mono: Source Code Pro, ui-monospace, monospace;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.3;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.15);
  --shadow-xs: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.15);
  --shadow-sm: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 1px 2px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 1px 2px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-md: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 2px 4px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-lg: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 4px 6px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-xl: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.30), 2px 8px 10px -1px hsl(0 0% 10.1961% / 0.30);
  --shadow-2xl: 2px 4px 16px 0px hsl(0 0% 10.1961% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

div#qr-code-preview-container canvas {
  width: 100% !important;
  height: 100% !important;
}